<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Already Registered</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iregister.css') }}">
</head>
<body>
    <div class="container">
        <h1>Email and Username Already Registered</h1>
        <p>Please login with your existing credentials or register again with a different email and username.</p>
        <div class="button-container">
            <a href="/login" class="button">Login</a>
            <a href="/register" class="button">Register</a>
        </div>
    </div>
</body>
</html>
